@using RunGroup_WebApp__learning_MVC_.Data.Enum;
@model Race

<form method="post" asp-action="Delete" enctype="multipart/form-data">
    <input type="hidden" value="AddressId" id="AddressId">
    <div class="form-group">
        <label asp-for=Title>Title</label>
        <input asp-for=Title class="form-control" placeholder="Enter title">
        <span asp-validation-for="Title" class="form-text text-muted"></span>
    </div>
    <div class="form-group">
        <label asp-for=Description>Description</label>
        <input asp-for=Description class="form-control" placeholder="Description">
        <span asp-validation-for="Description" class="form-text text-muted"></span>
    </div>
    <div class="form-group">
        <label asp-for=RaceCategory>Club Category</label>
        <select asp-for=RaceCategory asp-items="@Html.GetEnumSelectList<RaceCategory>()" class="form-control" placeholder="Club Category">
            <option>--Select--</option>
        </select>
        <span asp-validation-for="RaceCategory" class="form-text text-muted"></span>
    </div>
    <div class="form-group">
        <label asp-for=Address.Street>Street</label>
        <input asp-for=Address.Street class="form-control" placeholder="Street">
        <span asp-validation-for="Address.Street" class="form-text text-muted"></span>
    </div>
    <div class="form-group">
        <label asp-for=Address.City>City</label>
        <input asp-for=Address.City class="form-control" placeholder="City">
        <span asp-validation-for="Address.City" class="form-text text-muted"></span>
    </div>
    <div class="form-group">
        <label asp-for=Address.State>State</label>
        <input asp-for=Address.State class="form-control" placeholder="State">
        <span asp-validation-for="Address.State" class="form-text text-muted"></span>
    </div>
    <div class="form-group">
        <label asp-for=Image>Image</label>
        <input asp-for=Image type="file" class="form-control" placeholder="Image">
        <span asp-validation-for="Image" class="form-text text-muted"></span>
    </div>
</form>
    <div class="form-group">
        <form action=Delete method="post">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Confirm" class="btn btn-danger float-right mt-3"/>
        </form>
    </div>

